<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>{{Price}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
            <tr>
                <td>{{ this.title}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>