<div>
        <h1>Register</h1>
        <form id="register-form">
            <label>Name</label>
            <input name="first_name">
            <label>Last Name</label>
            <input name="last_name">
            <label>Email</label>
            <input name="email">
            <input name="age">
            <label>Contraseña</label>
            <input type="password" name="password">

            <input type="submit">

        </form>
        <p>Do you have an account?<a href="/login">Please, click here!</a></p>
</div>
<script src="/js/register.js"></script>
